@font-face {
    font-family: "Uni Sans Bold";
    src: url("../fonts/Uni\ Sans\ Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393F;
    color: white;
    font-family: "Uni Sans Bold";
	padding: 10px;
    font-size: 20px;
}

#Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    color: white;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input {
    background-color: #2F3136;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
	cursor: inherit;
	transition: background-color 0.17s ease;
	font: inherit;
	line-height: 0;
}

body:not(.resizing) button:hover {
    background-color: #225F34;
    cursor: pointer;
}

body:not(.resizing) button:active {
    background-color: #1E532E;
}

.row {
    display: flex;
    flex-direction: row;
}

#Output {
    background-color: #2F3136;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Level {
    display: inline-block;
	user-select: none;
	position: relative;
	
	margin-bottom: 20px;
}

.tile {
	width: 48px;
	height: 48px;
	border-radius: 5px;
}
body:not(.resizing) .tile:not(.locked):hover {
	filter: brightness(1.15);
	background-color: #fff5;
}

#Resize-Handle {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 100%;
	padding: 0;
	transition: width, height, top, left;
	transition-duration: 0.1s;
	
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 1;
	
	cursor: grab;
	resize: both;
}
#Resize-Handle:hover {
	width: 32px;
	height: 32px;
	top: -16px;
	left: -16px;
	z-index: 3;
}
#Resize-Handle:active {
	cursor: inherit;
	width: 26px;
	height: 26px;
	top: -13px;
	left: -13px;
	z-index: 3;
}

body.resizing, body.resizing * {
	cursor: grabbing;
}

#Toolbar, #Warning {
    border-radius: 5px;
	background-color: #2f3136;
}

#Warning {
	display: none;
	text-align: right;
	padding: 10px;
}
#Warning-Container {
	text-align: right;
	position: fixed;
	bottom: 113px;
	right: 10px;
	z-index: 2;
}

#Warning-Close {
	margin-left: 5px;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
}
#Warning-Close::after {
	content: "❌︎";
}

#Toolbar {
	display: flex;
	align-items: center;
	position: sticky;
	bottom: 10px;
	padding: 5px;
	z-index: 2;
}
#Toolbar-Left, #Toolbar-Right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#Toolbar-Right {
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: right;
	padding-right: 10px;
}
#Size {
	margin-right: 10px;
}

button.tool-button:not(.selected) {
	background-color: #4F545c;
}
body button.tool-button:not(.selected):hover {
	background-color: #686D73;
}
body button.tool-button:not(.selected):active {
	background-color: #72767D;
}

button.tool {
	margin: 5px;
}

body img.emoji {
	width: 48px;
	height: 48px;
}

#Size {
	text-align: right;
}
