@font-face {
    font-family: "Uni Sans Bold";
    src: url("../fonts/Uni\ Sans\ Bold.ttf");
	
	font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393F;
    color: white;
    font-family: "Uni Sans Bold", sans-serif;
	padding: 10px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul {
	list-style: disc;
	margin-left: 1em;
	margin-bottom: 1em;
}

nav ul {
	margin-left: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input {
    background-color: #2F3136;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
	cursor: inherit;
	transition: background-color 0.17s ease, opacity 0.17s ease;
	font: inherit;
	
	vertical-align: middle;
}

body:not(.resizing) button:not(:disabled):hover,
body:not(.resizing) button:not(:disabled):focus-visible  {
    background-color: #225F34;
    cursor: pointer;
}

body:not(.resizing) button:not(:disabled):active {
    background-color: #1E532E;
}

.row {
    display: flex;
    flex-direction: row;
}

#Output {
    background-color: #2F3136;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Level-Container {
	margin-bottom: 116px;
	position: relative;
}
#Level {
    display: inline-block;
	user-select: none;
	position: relative;
	
	overflow: hidden;
	
	background-image: url("../images/background.png");
}

.tile {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center;
	/* to allow placing on "mix" tiles while them still being transparent */
	filter: opacity(1);
	
	position: relative;
	z-index: 2;
}
/* Tile images */
.tile[data-tile="🟩"] {
	background-image: url("../images/obstacle.png");
}
.tile-stencil[data-tile="🟩"] {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: solid 2px black;
	background: black;
	
	margin-right: -52px;
	margin-bottom: -4px;
	
	position: relative;
	right: 2px;
	bottom: 2px;
	z-index: 1;
	
	border-radius: 2px;
}
.tile[data-tile="🍏"] {
	background-image: url("../images/apple.png");
}
.tile[data-tile="🟥"] {
	background-image: url("../images/enemy.png");
}
.tile[data-tile="🚩"] {
	background-image: url("../images/checkpoint.png");
}
.tile[data-tile="🏁"] {
	background-image: url("../images/goal.png");
}
.tile[data-tile="🔼"] {
	background-image: url("../images/spike.png");
}

.tile.mix {
	margin-right: -48px;
}
#Level:not(.screenshot-mode) .tile.mix {
	filter: opacity(0.5);
}
.tile[data-tile="appel"] {
	background-image: url("../images/appel-right.png");
}

body:not(.resizing) #Level:not(.screenshot-mode) .tile:not(.locked):hover {
	filter: brightness(1.25);
	background-color: #fffa;
	outline: solid 2px #0005;
	
	transform: translate(0);
	z-index: 3;
}

#Resize-Handle {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 100%;
	padding: 0;
	transition: width, height, top, left;
	transition-duration: 0.1s;
	
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 5;
	
	cursor: grab;
	resize: both;
}
#Resize-Handle:hover {
	width: 32px;
	height: 32px;
	top: -16px;
	left: -16px;
	z-index: 7;
}
#Resize-Handle:active {
	cursor: inherit;
	width: 26px;
	height: 26px;
	top: -13px;
	left: -13px;
	z-index: 7;
}

body.resizing, body.resizing * {
	cursor: grabbing;
}

#Toolbar, #Popup, input[type="text"] {
    border-radius: 5px;
	background-color: #2f3136;
}

#Popup {
	display: none;
	text-align: right;
	padding: 10px;
}
#Popup-Container {
	text-align: right;
	position: fixed;
	bottom: 113px;
	right: 10px;
	z-index: 6;
}

#Popup-Header, .popup-content {
	text-align: left;
}
#Popup-Title {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 20px;
}
#Popup-Close {
	font-size: 125%;
	
	width: 1.5em;
	height: 1.5em;
	line-height: 0;
	padding: 0;
	float: right;
}

.popup-content {
	display: none;
}

#Toolbar {
	display: flex;
	align-items: center;
	
	position: fixed;
	width: calc(100% - 20px);
	bottom: 10px;
	left: 10px;
	
	padding: 5px;
	box-sizing: border-box;
	z-index: 6;
}
#Toolbar-Left, #Toolbar-Right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#Toolbar-Right {
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: right;
	padding-right: 10px;
}
#Size {
	margin-right: 10px;
}

button.gray:not(.selected) {
	background-color: #4F545c;
}
body button.gray:not(.selected):not(:disabled):hover,
body:not(.resizing) button:not(:disabled):focus-visible {
	background-color: #686D73;
}
body button.gray:not(.selected):not(:disabled):active {
	background-color: #72767D;
}

.icon-button {
	margin: 5px;
	
	width: 68px;
	height: 68px;
	line-height: 0;
}

body img.emoji {
	width: 48px;
	height: 48px; 
	pointer-events: none;
	-webkit-user-select: none;		
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#Size {
	text-align: right;
}

button:disabled {
	opacity: 0.5;
	cursor: auto;
}

button .tile {
	pointer-events: none;
}

#Toolbar .tile[data-tile="🟦"] {
	background-image: url("../images/erase.png");
	background-image: url("../images/erase.png");
}

input {
	border: solid 2px #4f545c;
	
	transition: border, box-shadow, background-color;
	transition-duration: 0.17s;
	transition-timing-function: ease;
	
	padding: 10px;
	vertical-align: middle;
	margin-right: 10px;
	
	font: inherit;
}
input:hover {
	border-color: #2289aa;
}
input:focus {
	background-color: #4f545c;
	border-color: transparent;
}

.tile.hidden {
	width: 0;
	height: 0;
	opacity: 0;
}

#JS-Error, #Editor {
	display: none;
}

#Download-URL-Status {
	margin-top: -5px;
	margin-bottom: 10px;
}

button, input, a {
	transition: outline 0.17s ease, box-shadow 0.17s ease;
}
:focus-visible {
	outline: solid 2px #55acee;
	box-shadow: 0 0 0 4px #55acee55;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex-grow {
	flex-grow: 1;
}