@font-face {
    font-family: "Uni Sans Bold";
    src: url("../fonts/Uni\ Sans\ Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393F;
    color: white;
    font-family: "Uni Sans Bold", sans-serif;
	padding: 10px;
    font-size: 20px;
}

#Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul {
	list-style: disc;
	margin-left: 1em;
}

nav ul {
	margin-left: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input {
    background-color: #2F3136;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
	cursor: inherit;
	transition: background-color 0.17s ease, opacity 0.17s ease;
	font: inherit;
	line-height: 0;
}

body:not(.resizing) button:not(:disabled):hover {
    background-color: #225F34;
    cursor: pointer;
}

body:not(.resizing) button:not(:disabled):active {
    background-color: #1E532E;
}

.row {
    display: flex;
    flex-direction: row;
}

#Output {
    background-color: #2F3136;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Level-Container {
	padding-bottom: 96px;
}
#Level {
    display: inline-block;
	user-select: none;
	position: relative;
	
	margin-bottom: 20px;
	
	background-image: url("../images/background.png");
}

.tile {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center;
	/* to allow placing on "mix" tiles while them still being transparent */
	filter: opacity(1);
}
/* Tile images */
.tile[data-tile="🟩"] {
	background-image: url("../images/obstacle.png");
}
.tile[data-tile="🍏"] {
	background-image: url("../images/apple.png");
}
.tile[data-tile="🟥"] {
	background-image: url("../images/enemy.png");
}
.tile[data-tile="🚩"] {
	background-image: url("../images/checkpoint.png");
}
.tile[data-tile="🏁"] {
	background-image: url("../images/goal.png");
}
.tile[data-tile="🔼"] {
	background-image: url("../images/spike.png");
}

.tile.mix {
	margin-right: -48px;
}
#Level:not(.screenshot-mode) .tile.mix {
	filter: opacity(0.5);
}
.tile[data-tile="appel"] {
	background-image: url("../images/appel-right.png");
}

body:not(.resizing) #Level:not(.screenshot-mode) .tile:not(.locked):hover {
	filter: brightness(1.25);
	background-color: #fffa;
	outline: solid 2px #0005;
	
	transform: translate(0);
	z-index: 1;
}

#Resize-Handle {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 100%;
	padding: 0;
	transition: width, height, top, left;
	transition-duration: 0.1s;
	
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 1;
	
	cursor: grab;
	resize: both;
}
#Resize-Handle:hover {
	width: 32px;
	height: 32px;
	top: -16px;
	left: -16px;
	z-index: 3;
}
#Resize-Handle:active {
	cursor: inherit;
	width: 26px;
	height: 26px;
	top: -13px;
	left: -13px;
	z-index: 3;
}

body.resizing, body.resizing * {
	cursor: grabbing;
}

#Toolbar, #Warning {
    border-radius: 5px;
	background-color: #2f3136;
}

#Warning {
	display: none;
	text-align: right;
	padding: 10px;
}
#Warning-Container {
	text-align: right;
	position: fixed;
	bottom: 113px;
	right: 10px;
	z-index: 2;
}

#Warning-Close {
	margin-left: 5px;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
}
#Warning-Close::after {
	content: "❌︎";
}

#Toolbar {
	display: flex;
	align-items: center;
	position: sticky;
	bottom: 10px;
	padding: 5px;
	z-index: 2;
}
#Toolbar-Left, #Toolbar-Right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#Toolbar-Right {
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: right;
	padding-right: 10px;
}
#Size {
	margin-right: 10px;
}

button.tool-button:not(.selected) {
	background-color: #4F545c;
}
body button.tool-button:not(.selected):not(:disabled):hover {
	background-color: #686D73;
}
body button.tool-button:not(.selected):not(:disabled):active {
	background-color: #72767D;
}

button.tool-button {
	width: 68px;
	height: 68px;
}

button.tool {
	margin: 5px;
}

body img.emoji {
	width: 48px;
	height: 48px;
}

#Size {
	text-align: right;
}

button:disabled {
	opacity: 0.5;
	cursor: auto;
}

button .tile {
	pointer-events: none;
}

#Toolbar .tile[data-tile="🟦"] {
	background-image: url("../images/erase.png");
	background-image: url("../images/erase.png");
}